iframe#sidethreadgpt-overlay-iframe {
  /* transition */
  transition: 1.0s !important;
  transition-timing-function: ease-out;

  /* display */
  display: block !important;
  position: fixed !important;
  top: 2% !important;
  right: -33vw !important;
  width: 33vw !important;
  height: 96% !important;

  /* border */
  border-radius: 10px !important;
  border: solid 1px rgba(155, 155, 155, 0.18) !important;
  box-shadow: 4px 2px 12px 0 rgba(0, 0, 0, 0.12) !important;
}
